<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Acerca de Nicolas Romero</h2>
                <p>Nicolas Romero es un municipo de nicolas romero ubicado al nirte de estado a 55 km de la capital Toluca</p>
            </div>
            <div class="col-lg-3">
                <h3>Donde</h3>
                <p>Nicolas Romero, Estado de México</p>
            </div>
            <div class="col-lg-3">
                <h3>Cuando</h3>
                <p>Monday to Wednesday<br>10-12 December</p>
            </div>
        </div>
    </div>
</section>