<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Acerca De Nicolás Romero</h2>
                <p>Nicolás Romero es un municipio de Nicolás romero ubicado al norte de estado a 55 km de la capital Toluca</p>
            </div>
            <div class="col-lg-3">
                <h3>Misión</h3>
                <p>Nicolás Romero, Estado de México</p>
            </div>
            <div class="col-lg-3">
                <h3>Visión</h3>
                <p></p>
            </div>
        </div>
    </div>
</section>