<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Acerca de Nicolas Romero</h2>
                <p>Nicolas Romero es un municipio de nicolas romero ubicado al norte de estado a 55 km de la capital Toluca</p>
            </div>
            <div class="col-lg-3">
                <h3>Mision</h3>
                <p>Nicolas Romero, Estado de México</p>
            </div>
            <div class="col-lg-3">
                <h3>Vision</h3>
                <p></p>
            </div>
        </div>
    </div>
</section>