<section id="blog" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Blog de Nicolás Romero</h2>
            <p>Aquí tienes nuestros artículos más recientes</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="article">
                    <img src="img/blog/1.webp" alt="Speaker 1" class="img-fluid">
                    <div class="detalles">
                        <h3><a href="speaker-details.html">Armando Navarrete</a></h3>
                        <p>Presidente Municipal</p>
                        <div class="social">
                            <a href=""><i class="fab fa-fw fa-twitter"></i></a>
                            <a href=""><i class="fab fa-fw fa-facebook"></i></a>
                            <a href=""><i class="fab fa-fw fa-google-plus"></i></a>
                            <a href=""><i class="fab fa-fw fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="articulo">
                    <img src="img/blog/2.webp" alt="Speaker 2" class="img-fluid">
                    <div class="detalles">
                        <h3><a href="speaker-details.html">Carrera de la Salud Mental</a></h3>
                        <p>Consequuntur odio aut</p>
                        <div class="social">
                            <a href=""><i class="fab fa-fw fa-twitter"></i></a>
                            <a href=""><i class="fab fa-fw fa-facebook"></i></a>
                            <a href=""><i class="fab fa-fw fa-google-plus"></i></a>
                            <a href=""><i class="fab fa-fw fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="articulo">
                    <img src="img/blog/3.webp" alt="Speaker 3" class="img-fluid">
                    <div class="detalles">
                        <h3><a href="speaker-details.html">SAMS Nicolás Romero</a></h3>
                        <p>Fugiat laborum et</p>
                        <div class="social">
                            <a href=""><i class="fab fa-fw fa-twitter"></i></a>
                            <a href=""><i class="fab fa-fw fa-facebook"></i></a>
                            <a href=""><i class="fab fa-fw fa-google-plus"></i></a>
                            <a href=""><i class="fab fa-fw fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="articulo">
                    <img src="img/blog/4.webp" alt="Speaker 4" class="img-fluid">
                    <div class="detalles">
                        <h3><a href="speaker-details.html">Univerisda Tecnologica Fidel Velazquez</a></h3>
                        <p>Debitis iure vero</p>
                        <div class="social">
                            <a href=""><i class="fab fa-fw fa-twitter"></i></a>
                            <a href=""><i class="fab fa-fwfa-facebook"></i></a>
                            <a href=""><i class="fab fa-fw fa-google-plus"></i></a>
                            <a href=""><i class="fab fa-fw fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="articulo">
                    <img src="img/blog/5.webp" alt="Speaker 5" class="img-fluid">
                    <div class="detalles">
                        <h3><a href="speaker-details.html">Cinepolis Nicolás Romero</a></h3>
                        <p>Qui molestiae natus</p>
                        <div class="social">
                            <a href=""><i class="fab fa-fw fa-twitter"></i></a>
                            <a href=""><i class="fab fa-fw fa-facebook"></i></a>
                            <a href=""><i class="fab fa-fw fa-google-plus"></i></a>
                            <a href=""><i class="fab fa-fw fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="articulo">
                    <img src="img/blog/6.webp" alt="Speaker 6" class="img-fluid">
                    <div class="detalles">
                        <h3><a href="speaker-details.html">CONALEP Nicolás Romero</a></h3>
                        <p>Non autem dicta</p>
                        <div class="social">
                            <a href=""><i class="fab fa-fw fa-twitter"></i></a>
                            <a href=""><i class="fab fa-fw fa-facebook"></i></a>
                            <a href=""><i class="fab fa-fw fa-google-plus"></i></a>
                            <a href=""><i class="fab fa-fw fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>