<!--==========================F.A.Q Section============================-->
<section id="faq" class="wow fadeInUp" itemscope itemtype="http://schema.org/FAQPage">

    <div class="container">

        <div class="section-header">
            <h2>Preguntas frecuentes</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-9">
                <ul id="faq-list">

                    <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <a data-toggle="collapse" class="collapsed" href="#faq1" itemprop="name">¿Quién fue Nicolás Romero? <i
                                class="fa fa-minus-circle"></i></a>
                        <div id="faq1" class="collapse" data-parent="#faq-list" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text"> Nicolás Romero fue un coronel del Ejercito Mexicano que peleo en la guerra de Reforma. Era conocido como el "El León de las Montañas"

                            </p>
                        </div>
                    </li>

                    <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <a data-toggle="collapse" href="#faq2" class="collapsed" itemprop="name">¿Cuántos habitantes tiene Nicolás
                            Romero? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq2" class="collapse" data-parent="#faq-list" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                De acuerdo a los datos de la Encuesta Intercensal 2015 realizada por el <abbr title="Instituto Nacional de Estadística, Geografía e Informática">INEGI</abbr> el municipio de Nicolas Romero cuenta con 410,118 habitantes.
                            </p>
                        </div>
                    </li>

                    <!-- <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <a data-toggle="collapse" href="#faq3" class="collapsed" itemprop="name">¿Cómo llego a Nicolás Romero? <i
                                class="fa fa-minus-circle"></i></a>
                        <div id="faq3" class="collapse" data-parent="#faq-list" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">

                            </p>
                        </div>
                    </li> -->

                    <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <a data-toggle="collapse" href="#faq4" class="collapsed" itemprop="name">¿Quién es el presidente municipal de
                            Nicolás Romero? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq4" class="collapse" data-parent="#faq-list" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text"> El presidente actual de Nicolás Romero es Armando Navarrete Lopez. Llego al poder impulsado por el partido politico MORENA

                            </p>
                        </div>
                    </li>

                    <!-- <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <a data-toggle="collapse" href="#faq5" class="collapsed" itemprop="name">¿Dónde comer en Nicolás Romero? <i
                                class="fa fa-minus-circle"></i></a>
                        <div id="faq5" class="collapse" data-parent="#faq-list" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">

                            </p>
                        </div>
                    </li> -->

                    <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <a data-toggle="collapse" href="#faq6" class="collapsed" itemprop="name">¿Cuándo se fundo el municipio Nicolás Romero?
                            <i class="fa fa-minus-circle"></i></a>
                        <div id="faq6" class="collapse" data-parent="#faq-list" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <p itemprop="text">
                                    El decreto número 38 del gobernador Vicente Villada del Estado de México refiere
                                    cómo “se eleva a la categoría de ‘Villa Nicolás Romero’ al pueblo de Montebajo, cabecera de
                                    la municipalidad de ese nombre en el distrito de Tlalnepantla” (Gaceta del Gobierno del Estado
                                    de México, Toluca, Estado de México, 18 de abril de 1898), y queda asentado en el Acta de
                                    Cabildo del 15 de septiembre de 1898 (Cabildo del H. Ayuntamiento de Villa Nicolás Romero, Estado de México), respondiendo a la solicitud, con fecha 15 de marzo de 1896, de “los
                                    delegados por la voluntad de los pueblos que constituyen la comprensión de Montebajo”
                                    para que éstos se conformen en villa y que se le nombre Nicolás Romero. El argumento era
                                    que “el nombre de dicho patricio que fue tejedor de la fábrica Colmena quede perpetuado
                                    pues que en la lucha que la República mantuvo en la época de la Intervención Francesa, Nicolás Romero aparece como el ejemplo del valor mexicano que asombró a los soldados de la
                                    vieja Europa”. El documento está avalado con la firma de 198 vecinos, por cierto, dentro de
                                    un universo de once mil habitantes; en Luis Barrueta Durán y Crispín Duarte Soto, Coronel
                                    Nicolás Romero. Episodios heroicos, México, Chimal, 1998, p. 217-218.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>

</section>
