<section id="gallery" class="wow fadeInUp">

    <div class="container">
        <div class="section-header">
            <h2>Galeria</h2>
            <p>Checa nuestra galeria con las mejores fotos De Nicolás Romero</p>
        </div>
    </div>

    <div class="owl-carousel gallery-carousel">
        <a href="img/galeria/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/1.jpg"
                alt=""></a>
        <a href="img/galeria/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/2.jpg"
                alt=""></a>
        <a href="img/galeria/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/3.jpg"
                alt=""></a>
        <a href="img/galeria/4.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/4.jpg"
                alt=""></a>
        <a href="img/galeria/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/5.jpg"
                alt=""></a>
        <a href="img/galeria/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/6.jpg"
                alt=""></a>
        <a href="img/galeria/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/7.jpg"
                alt=""></a>
        <a href="img/galeria/8.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/8.jpg"
                alt=""></a>
    </div>

</section>