<section id="gallery" class="wow fadeInUp">

    <div class="container">
        <div class="section-header">
            <h2>Galeria</h2>
            <p>Checa nuestra galeria con las mejores fotos De Nicolás Romero</p>
        </div>
    </div>

    <div class="owl-carousel gallery-carousel">
        <a href="img/galeria/1.webp" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/1.webp"
                alt=""></a>
        <a href="img/galeria/2.webp" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/2.webp"
                alt=""></a>
        <a href="img/galeria/3.webp" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/3.webp"
                alt=""></a>
        <a href="img/galeria/4.webp" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/4.webp"
                alt=""></a>
        <a href="img/galeria/5.webp" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/5.webp"
                alt=""></a>
        <a href="img/galeria/6.webp" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/6.webp"
                alt=""></a>
        <a href="img/galeria/7.webp" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/7.webp"
                alt=""></a>
        <a href="img/galeria/8.webp" class="venobox" data-gall="gallery-carousel"><img src="img/galeria/8.webp"
                alt=""></a>
    </div>

</section>