<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <h1><a href="#main">De <span>NR</span></a></h1>
            <!-- <a href="#intro" class="scrollto"><img src="img/logo.webp" alt="" title=""></a> -->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Home</a></li>
                <li><a href="#about">Acerca</a></li>
                <li><a href="#speakers">Blog</a></li>
                <li><a href="#gallery">Galería</a></li>
                <li><a href="#supporters">Patrocinadores</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->