<!--==========================Sponsors Section============================-->
<section id="supporters" class="section-with-bg wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Patrocinadores</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix">

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img data-src="img/patrocinadores/1.webp" class="img-fluid lazyload" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img data-src="img/patrocinadores/2.webp" class="img-fluid lazyload" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img data-src="img/patrocinadores/3.webp" class="img-fluid lazyload" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img data-src="img/patrocinadores/4.webp" class="img-fluid lazyload" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img data-src="img/patrocinadores/5.webp" class="img-fluid lazyload" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img data-src="img/patrocinadores/6.webp" class="img-fluid lazyload" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img data-src="img/patrocinadores/7.webp" class="img-fluid lazyload" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img data-src="img/patrocinadores/8.webp" class="img-fluid lazyload" alt="">
                </div>
            </div>

        </div>

    </div>

</section>