<!-- JavaScript Libraries -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/venobox/venobox.min.js"></script>
<script src="/vendor/superfish/hoverIntent.js"></script>
<script src="/vendor/superfish/superfish.min.js"></script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/vendor/owlcarousel/owl.carousel.min.js"></script>
<script src="contactform/contactform.js"></script>
<script src="js/main.js"></script>