<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es-mx" }}">

{%- include head.html -%}

<body>
  {%- include facebook-analytics.html -%}
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/jquery/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/easing.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/vendor/venobox/venobox.min.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <!-- <script src="js/main.js"></script> -->

</body>

</html>